.figma-img-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.images-div {
  display: flex;
  flex-direction: column;
}

.img-p-div {
  margin-left: 100px;
}

.p-100 {
  font-size: 21.463px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.images-section3 {
  padding-top: 43px;
}