.figma-favorite-p {
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}

.figma-section-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.figma-food-p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}

.figma-small-div {
  width: 500px;
}